<% layout('/layout/boilerplate') -%>

<!-- cart + summary -->
<section class="bg-light my-5 mt-2">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <h4 class="card-title mb-4">Your shopping cart</h4>
                        <% for( let item of cart ) { %>
                        <div class="row gy-3 mb-4">
                            <div class="col-lg-5">
                                <div class="me-lg-5">
                                    <div class="d-flex">
                                        <img src="<%= item.productId.Image %>" class="border rounded me-3"
                                            style="width: 96px; height: 96px;" />
                                        <div class="">
                                            <a href="#" class="nav-link"><strong><%= item.productId.Name %></strong></a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                <div>
                                    <a  decrease-product-id="<%= item.productId._id %>" class="decrease align-self-end btn btn-block btn-primary">-</a>  
                                    <span class="item-quantity"><%= item.quantity  %></span>
                                    <a  increase-product-id="<%= item.productId._id %>" class="increase align-self-end btn btn-block btn-primary">+</a>    
                                </div>
                                <div class="" style="margin-left:10px;">
                                    <text id="individual-total-price" class="h6">$ <%= item.quantity*item.productId.Price %></text><br/>

                                    <small id="per-item-price" per-price ="<%= item.productId.Price %>"   class="text-muted text-nowrap">$<%= item.productId.Price %> / per item </small>
                                </div>
                            </div>
                            <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                                <div class="float-md-end">
                                    <a remove-product-id = "<%= item.productId._id %>"  class="remove-btn btn btn-light border text-danger icon-hover-danger"> Remove</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="border-top pt-4 mx-4 mb-4">
                            <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart -->

            <!-- summary -->
            <div class="col-lg-3">
                <div class="card mb-3 border shadow-0">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label class="form-label">Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                                    <button class="btn btn-light border">Apply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <% const arr = [] %>
                <% for (let item of cart) { %>
                    <% arr.push(item.quantity * item.productId.Price) %>
                <% } %>
                <% let sum = arr.reduce(function(x, y) { return x + y }, 0); %>
                <div class="card shadow-0 border">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p  class="mb-2">Total price:</p>
                            <p id="total-price" class="mb-2">$ <%= sum %></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Discount:</p>
                            <p class="mb-2 text-success">-$60.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">TAX:</p>
                            <p class="mb-2">$14.00</p>
                        </div>
                        <hr />
                        
                      
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <h6 id="amount-display" class="mb-2 fw-bold">$ <%= sum-44 %></h6>
                        </div>

                        <div class="mt-3">
                            <a href="#" id="buy-btn" class="btn btn-success w-100 shadow-0 mb-2"> Make Purchase </a>
                            <a href="/products" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
    </div>
</section>

<!-- cart + summary -->
